grant
{
  // Uncomment the line below to effectively disable the security manager (not recommended)
  //permission java.security.AllPermission;

  // Needed for logging
  permission java.io.FilePermission "log/linpot.log", "read, write";

  // Needed to parse the configuration file
  permission java.io.FilePermission "linpot.properties", "read";

  // Since the address and ports are configurable, allow all addresses and ports for simplicity
  permission java.net.SocketPermission "*", "accept, listen, resolve";

  // Create separate rules for each service and comment the wildcard line above for more control
  //permission java.net.SocketPermission "127.0.0.1:10023", "accept, listen, resolve";

  // Uncomment the line below to allow users to connect outside of LinPot
  //permission java.net.SocketPermission "*", "connect";

  // Derby stuff
  permission java.io.FilePermission "derby.log", "read, write";
  permission java.io.FilePermission "${user.dir}/log/database.log", "read, write";
  permission java.io.FilePermission "${user.dir}", "read";
  permission java.io.FilePermission "${user.dir}/linpot", "read, write";
  permission java.io.FilePermission "${user.dir}/linpot/-", "read, write, delete";
  permission java.lang.RuntimePermission "getProtectionDomain";
  permission java.util.PropertyPermission "user.dir", "read";
  permission java.util.PropertyPermission "derby.system.home", "read, write";
  permission java.util.PropertyPermission "derby.stream.error.file", "read, write";
  permission java.util.PropertyPermission "derby.language.logStatementText", "read, write";
  permission java.util.PropertyPermission "derby.authentication.provider", "read";
  permission java.util.PropertyPermission "derby.authentication.builtin.algorithm", "read";
  permission java.util.PropertyPermission "derby.connection.requireAuthentication", "read";
  permission java.util.PropertyPermission "derby.storage.useDefaultFilePermissions", "read";
  permission java.util.PropertyPermission "derby.database.fullAccessUsers", "read";
  permission java.util.PropertyPermission "derby.database.readOnlyAccessUsers", "read";
  permission java.util.PropertyPermission "derby.database.defaultConnectionMode", "read";
  permission java.util.PropertyPermission "derby.database.sqlAuthorization", "read";
};
